* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.vasos {
  border: 2px solid black;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 10px;
  padding: 10px;
}

.vaso {
  display: flex;
  flex-direction: column;
}

button {
  cursor: pointer;
  user-select: none;
  padding: 10px;
  font-weight: bold;
  margin: 1px;
}

button:disabled {
  /* pointer-events: none; */
}

img {
  width: 200px;
  height: auto;
  padding-left: 20px;
}

#bola-resultado {
  font-size: 20px;
  padding: 10px;
}
