* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.App {
  font-family: sans-serif;
  text-align: center;
  /* display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; */
  margin: 0px;
  padding: 0px;
}

.contenedor-inicio {
  background-image: url("./Imagenes/Net-7.png");
  background-size: auto;
  background-position: center;
  background-repeat: repeat;

  margin: 0px;
  padding: 0px;

  width: 100vw;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
}

.contenedor-inicio-texto {
  display: flex;
  flex-direction: column;

  padding-bottom: 159px;
  padding-left: 117px;
}

.introduccion {
  background: linear-gradient(
    180deg,
    #abcca5 0%,
    rgba(252, 100, 67, 0.82) 83.62%
  );
}

.contenedor-divisor {
  margin: 0px;
  padding: 0px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* con este controlo la alineacion vertical*/
  align-items: center;

  width: 100vw;
  height: 100vh;

  background-color: lightblue;

  flex-wrap: wrap;
}

.contenedor-divisor h2 {
  border: 1px solid black;
  border-radius: 15px;
  padding: 10px;
  margin: 10px;

  background-color: lightgreen;
  z-index: 99;
}

.contenedor-divisor article {
  border: 1px solid black;
  background-color: lightcoral;
  max-width: 600px;
  margin: 50px;
  z-index: 99;

  font-size: 20px;
}

.moneda img {
  width: 100%;
  z-index: 1;
  /* position: absolute; */
  height: auto;
}
